A {
    color: #9D8189;
}

a:hover {
    color: #D8C4C0;
}

body {
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    letter-spacing: 1px;
}

a:active {
    color: #8E7C93;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(13,13,23,0.5);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 25px;
    background-image: url(../img/icons/icon-left.png);
}

.slides-navigation a.next {
    right: 25px;
    background-image: url(../img/icons/icon-right.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 40%;
    z-index: 5;
    text-align: center;
}

.titleMessage .heading p {
    color: #ffffff;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.33);
    letter-spacing: 6px;
}

.titleMessage .heading .main {
    font-weight: 100;
    font-size: 56px;
}

.titleMessage .heading .sub {
    font-size: 36px;
}

.aboutme {
    background-color: #ffffff;
}

.section {
    padding: 105px 0;
}

.aboutImg {
    max-width: 100%;
}

.skillsSection1 {
    background-color: #9A8C98;
    color: #ffffff;
}

.skillsSection2 {
    background-color: #4A4E69;
    color: #ffffff;
}

.skill {
    text-align: center;
    margin-left: 20px;
}

.chart1,
.chart2 {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart1 canvas,
.chart2 canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart1 .percent,
.chart2 .percent {
    color: #ffffff;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart1 .percent:after,
.chart2 .percent:after {
    content: '%';
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 42px;
    height: 32px;
    color: rgb(0,0,0,0)
}

.owl-prev {
    background: transparent url(../img/icons/back-32.png) 0 0 no-repeat !important;
}

.owl-next {
    background: transparent url(../img/icons/next-32.png) 0 0 no-repeat !important;
}

.contactButton {
    color: #9D8189;
    font-size: large;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 3px solid #9D8189;
    border-radius: 15px;
}

.contactSection {
    background-color: #ffffff;
}

.contactButton:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #9D8189;
}

.contactButton:active {
    color: #ffffff;
    background-color: #D8C4C0;
    border: 3px solid #D8C4C0;
}

.copyrightSection {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 5px;
}

.copyrightSection p {
    margin: 0;
}

#navigation {
    background-color: #22223B;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover,
#navigation li a:hover {
    color: #B1B1D2;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.filter a {
    color: #6D6875;
    border: 1px solid #6D6875;
    padding: 12px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #6D6875;
    color: #ffffff;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.items li img {
    width: 100%;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.itemsContainer {
    width: 100%;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 26px;
    left: 50%;
    top: 50%;
    margin: -12px auto 0 -36px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #ffffff;
    font-size: 20px;
    margin: 2.5px 0 0 1.5px;
}

.items a {
    width: 26px;
    height: 26px;
    background-color: #8E7C93;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    -webkit-transition: all 0.2s linear, 0.5s;
    -moz-transition: all 0.2s linear, 0.5s;
    -o-transition: all 0.2s linear, 0.5s;
    -ms-transition: all 0.2s linear, 0.5s;
    -transition: all 0.2s linear, 0.5s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items {
    padding: 0;
}